@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&family=Roboto&family=Rubik&family=Work+Sans&display=swap');



/* Scroll bars */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #115173;
}
 
::-webkit-scrollbar-thumb {
  background: #115173;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* ****************************** */

.question-font {
  font-family: 'Proza Libre', sans-serif;
  font-weight: bold;
}

.display-row{
  display: flex;
  flex-direction: row;
}

.display-column {
  display: flex;
  flex-direction: column;
}

.option-font {
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Rubik', sans-serif;
}

.content {
  font-family: 'Work Sans', sans-serif;
}

.bold-font {
    font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

* {
  transition: all 0.5s;}

/* ************* Home *************** */
.startbtns{
    min-width: 15%;
    padding: 8px;
    margin: 5px;
    border: 0;
    background-color: #115173;
    border-radius: 5px;
    border: black 2px solid;
    transition: all 0.2s;
    font-weight: bold;
}

.startbtns:hover{
    box-shadow: rgba(0, 0, 0, 0.342) -4px 4px 4px;
    background-color: white;
}

.Container{
    text-align: center;
    height: 800px;
    width: 100%;
    padding: 15px;
    background-color: white;
    margin-top: 50px;
}
  
.Container > small {
    display: block;
    font-weight: bold; 
    margin: 10px 0;
}

/* ******************************* */


/* ********** Question input ********* */

.labels {
    margin: 15px 0;
}

/* *********************************** */


/* *********** Done Page ************* */

.paper-buttons {
  text-align: center;
}

/* *********************************** */


.question-ui{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 100px;
  margin: 30px auto 0 auto;
  padding-bottom: 50px;
}

.btn {
  border: 1px solid black;
  padding: 5px 50px;
  color: white;
}

.question-ui > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
  grid-gap: 15px;
}

.question-ui > form > input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.question-ui > form > button {
  color: white;
}

.save-button {
  background-color: rgba(61, 111, 190, 0.847);
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  padding: 5px 50px;
  margin: 10px 10px;
  font-weight: bold;
}


/* ***************** Profile ***************** */

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 50px 100px;
  grid-gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.342) 0px 0px 10px;
  height: 80vh;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  height: auto;
  min-height: 80vh;
  padding: 50px 0;
}

.user-profile {
  width: 200px;
  border-radius: 50%;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.342) -4px 0px 4px; */
}

.profile-right {
  padding: 0 50px;
}

.profile-left > h4 {
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.profile-left > h5 {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.profile-left > h5:hover, .profile-left > a:hover {
  cursor: pointer;
  background-color: rgba(61, 111, 190, 0.847);
  color: white;
}

/* .dropdown {
  display: flex;
  flex-direction: row;
  
} */

.profile-card {
  width: 100%;
}

.profile-image {
  text-align: center;
}

.profile-image > img {
  border-radius: 50px;
}

.profile-input-container{
  margin: 20px 0;
}

.profile-image > img:hover {
  cursor: pointer;
}

.profile-inputs {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

.profile-inputs:focus{
  border: 1px solid blueviolet;
}

.update-button > button {
  padding: 10px 50px;
  border-radius: 30px;
  background-color: rgb(17, 81, 115);
  color: white;
}

.update-button > button:hover{
  background-color: rgba(17, 81, 115, 0.8);
}

.question-dropdown{
  justify-content: space-between;
  background-color: #E8F9FD;
  align-items: center;
  border-radius: 20px;
}

.question-dropdown > h4{
  margin: 0;
}

.question-dropdown:hover{
  cursor: pointer;
}


.logout-button{
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}

.generate-question-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.generate-question-button > a {
  width: 300px;
  border-radius: 30px;
  background-color: rgba(61, 111, 190, 0.847);
  color: white;
}

/* ******************************************* */