
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #022C43;
}

.links {
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation-bar > h3 {
    color: white;
    margin: 0;
    font-size: 1.8rem;
}

.links:hover{
    color: #FFD700;
}
